<h1>  Seleccione Una Palabra </h1>

{% if latest_words_list %}
    <ul>
    {% for words in latest_words_list %}
		{% if words.type_question = 1 %}
			<li><a href="/words/{{ words.id }}/">{{ words.english }}</a></li> 
		{% else %}
			<li><a href="/words/{{ words.id }}/">{{ words.spanish }}</a></li> 
		{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No hay palabras disponibles.</p>
{% endif %}

<!-- <li><a>{{ words.english }}</a></li>    -->


<!-- <li><a href="/words/{{ words.id }}/">{{ words.english }}</a></li> -->


<!-- <li><a href="/words/{{ words.id }}/">{{ words.english }}</a></li>  -->


		    
